.cardClass{
    /* height: 400px; */


}
body {
    background-color: rgb(154, 154, 190);
  }
/* .center{
    position:fixed;
    top: 50%;
    transform: translate(0,-50%);
    padding: 10px;
} */

.shadow{
    box-shadow: 23px 16px 9px darkolivegreen;
}

.buttonMargin{
    margin-right: 10px;
}

.navbar-nav {
    display: flex;
    justify-content: center; /* Center horizontally */
    height: 50px; /* Adjust the height as needed */
}


#profileCard{
    box-shadow: 23px 16px 9px darkolivegreen;
    /* max-width: 540px; */
    margin: auto;
}

footer{
    text-align: center;
    /* padding: 20px; */
}

@media screen and (max-width: 950px) {
    body {
      background-color: rgb(190, 125, 244);
    }
#profileCard{
    max-width: 950px;
}
    
  }


  a{
    text-decoration: none;
}